.nav-container {
  background-color: #21372b;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.anchor-nav {
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  height: 5rem;
  object-fit: contain;
}
